window {
    font-family: "SF Pro", "SF Pro Display", sans-serif;
    font-size: 12pt;
    color: #cdd6f4;
    background-color: rgba(0, 0, 0, .9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fbf1c7;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(1, 121, 111, 0);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(213, 196, 161, 0.1);
    background-size: 65%;
    transition: background-size 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/sleep.png"));
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/power.png"));
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/restart.png"));
}
